body{
    background-image: url("https://i.redd.it/v3fhdu9qndab1.jpg");
    height: 100%;
}

#blocoUm{
    float: left;
    background-color: aqua;
    height: 100vh;
    width: 50%;
    opacity: 30%;
    overflow: auto;
}
#blocoDois{
    float:right;
    background-color: red;
    height: 100vh;
    width: 50%;
    opacity:30%;
    overflow: auto;
}